.icon-user {
    background-image: url('../../Content/images/icon-user-small.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.icon-password {
    background-image: url('../../Content/images/icon-lock.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.inventoryPad {
    padding-left: 55px !important;
}

.listing-view .btn {
    margin: 5px !important;
}

.btn-contact {
    float: right;
    margin: 22px;
}

    .btn-contact .btn {
        font-size: 14px;
    }

.input-group-addon {
    color: #ff0000 !important;
    background-color: #ffffff !important;
    padding: 7px !important;
}

.hide {
    display: none;
}

.file-upload-wrapper input[type="file"]:disabled + .form-control, .file-upload-wrapper input[type="file"]:disabled ~ .btn {
    opacity: 0.5;
    background-color: #f4f4f4 !important;
    cursor: not-allowed;
    border-color: #dddddd;
}

.change-password {
    margin:0 0 5px 5px;
}

.profile-title{
    display:inline-block;
}

/*.card .right-part {
    padding-left: 20px;
}*/

@media(min-width:769px) {
    .table-overflow-remove {
        table-layout: fixed;
    }

        .table-overflow-remove td {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
}

.upcoming-event .txtDateFormat {
    background: none;
    border: none;
    padding: 0;
}

.cursorPointer {
    cursor: pointer;
}

.margin-t15 {
    margin-top: 15px;
}

.Font-23 {
    font-size: 23px;
}
.domain-label {
    background: none !important;
    border: none !important;
    padding: 0px !important;
}
@media (max-width:767px) {
    .filter-block .drpInquiryStatus, .filter-block .drpInquiryStatus .btn {
        margin-bottom: 5px !important;
    }

    .btn-contact {
        margin: 15px;
    }

    .dataTables_paginate {
        overflow: auto;
    }
}

@media (max-width:360px) {
    .btn-contact {
        top: 0;
    }
}

@media (max-width:560px) {
    .container a.contact-link span {
        display: none;
    }

    .btn-contact, .change-password {
        width: 100%;
        margin: 0 0 15px;
    }
}
@media(max-width:1023px){
    .dataTables_length {
    margin-bottom: 10px;
}
}